DB_HOST=""
DB_USER=""
DB_PASS=""
DB_NAME=""

GOOGLE_CLIENT_ID="284270933152-au2aebp1s7qi8n8u7omcm337uadu186g.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_REDIRECT_URI="http://localhost:8888/project-galacticos-v-2.0/api/auth.php?action=google_callback"