DB_HOST=""
DB_USER=""
DB_PASS=""
DB_NAME=""

GOOGLE_CLIENT_ID="284270933152-vfd53to2ssds359a3cqumr7ctn8m9mnr.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_REDIRECT_URI="http://project-1-akbar-veloz-motor.com/api/auth.php?action=google_callback"