DB_HOST=""
DB_USER=""
DB_PASS=""
DB_NAME=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI=""

MIDTRANS_MERCHANT_ID=""
MIDTRANS_CLIENT_KEY=""
MIDTRANS_SERVER_KEY=""

MAIL_HOST=""
MAIL_PORT=""
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_FROM_NAME=""
MAIL_FROM_ADDRESS=""


BASE_DOMAIN=""
GEMINI_API_KEY=""