Options -Indexes

RewriteEngine On

# Redirect folder yang tidak punya index ke root landing page
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME}/index.php !-f
RewriteRule ^(.*)$ / [R=301,L]

# Tangani permintaan yang bukan file atau folder
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?uri=$1 [QSA,L]
