<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Akbar Veloz Motor | Home</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <div class="navbar">
      <div class="container-navbar">
        <h3>Akbar Veloz Motor</h3>
        <ul>
          <li>Home</li>
          <li>Simpan</li>
          <li>Test drive</li>
        </ul>
      </div>
    </div>

    <!-- Carousel -->
    <div class="slideshow-container">
      <div class="slide-container">
        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <img
            src="https://olimfiade.imfi.co.id/cfind/source/thumb/images/visual-artikel/februari/cover_w970_h440_adora-fitur---sosmed_970-x-440.jpg"
            style="width: 100%"
          />
          <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img
            src="https://www.hondaibrm.co.id/assets/slider/72a3952588207e9c8fe5dac7d5c338e1.webp"
            style="width: 100%"
          />
          <div class="text">Caption Two</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img
            src="https://www.hondaibrm.co.id/assets/slider/db4199b624c93e6bd687b0676892eb18.webp"
            style="width: 100%"
          />
          <div class="text">Caption Three</div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
      </div>
    </div>

    <div style="text-align: center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <script src="script.js"></script>
  </body>
</html>
